.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

@media screen and (max-width: 600px) {
    .loader-container img{
        width: 90%;
    }
}