.container {
  width: 84%;
  font-family: "Google Sans";
  color: white;
  background-color: #0f9d56;
  margin: 5rem auto;
  padding: 1rem 3rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading-and-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
}
.cta-btn {
  background: #202124;
  color: white;
  border-radius: 6.59991px;
  padding: 0.7rem 2rem;
  font-size: 15px;
  cursor: pointer;
}
.heading {
  display: flex;
  gap: 7px;
  align-items: center;
}
.heading h2 {
  font-size: 31px;
}
.heading span > svg {
  width: 23px;
}
.perks {
  display: flex;
  gap: 1.5rem;
}
.perks > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.perks1,
.perks2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.perk {
  display: flex;
  align-items: center;
  gap: 5px;
}
.illustrations {
  display: flex;
  position: relative;
  top: 39px;
  align-items: flex-end;
}
