.container {
  font-family: "Google Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0;
  padding-bottom: 0;
}

.heading h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 4rem;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 84%;
}

.data-cards {
  display: flex;
  justify-content: space-between;
  /* gap: 2rem; */
  flex-wrap: wrap;
}

.note {
  background: #0f9d56;
  text-align: center;
  color: white;
  margin-top: 5rem;
  padding: 1.5rem 0;
  border-radius: 6px;
  font-size: 20px;
}

@media screen and (max-width: 1250px) {
  .heading h1 {
    margin-bottom: 2rem;
    font-size: 28px;
  }
  .note {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .note {
    margin-top: 4px;
    font-size: 14px;
    padding: 10px;
  }
  .data-cards{
    flex-direction: column;
    align-items: center;
  }
}
